<!doctype html>
<html>
    <head>
        <title>CloudCats</title>
        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="static/css/theme.css" type="text/css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">  
        <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">  
        <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96">
        <style>
            main.inner img {
                width: 200px;
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <div class="site-wrapper">

              <div class="site-wrapper-inner">

                <div class="cover-container">

                  <header class="masthead clearfix">
                    <div class="inner">
                      <h3 class="masthead-brand">CloudCats</h3>
                      <nav class="nav nav-masthead">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="/help">Help</a>
                      </nav>
                    </div>
                  </header>

                  <main role="main" class="inner cover">
                    <img src="/static/img/cloudcats.png" class="img-fluid" alt="Responsive image"/>
                    <h1 class="cover-heading">A Better YouTube.</h1>
                    <p class="lead">Imagine a YouTube, full of cats. Cats everywhere. No, you're not dreaming.</p>
                    <p class="lead">
                      <a href="/watch?v=k2qgadSvNyU" class="btn btn-lg btn-secondary">Show me!</a>
                    </p>
                  </main>

                  <footer class="mastfoot">
                    <div class="inner">
                    </div>
                  </footer>

                </div>

              </div>

            </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>